{% assign keys = "Color,color,Colour,colour" | split: ',' %}
            {% for key in keys%}
            {% if card_product.options contains key %}
            <div class="product_tile_color_holder">
              {% for color_option in card_product.options_by_name[key].values %}
              {% for variant in card_product.variants %}
              {% if variant.options contains color_option %}
     {%- assign featured_image = variant.image -%}
          
              {% endif %}
              {% endfor %}
              <input
                     type="radio"
                     name="{{ card_product.id }}_card_color"
                     id="{{ card_product.id }}_color_{{ forloop.index }}" data_image="{{featured_image |img_url:'master' }}"
                     style="background-image: url({{featured_image |img_url:'master' }}); background-size: cover;">
              {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
            
            <select id="product-select" name="id" style="display:none">
  {% for variant in card_product.variants %}
    <option value="{{ variant.id }}"
      {% if variant == card_product.selected_or_first_available_variant %}selected="selected"{% endif %}
    >
      {{ variant.title }}
    </option>
  {% endfor %}
</select>
